<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="BitShelter.Service.WCF.SnapshotService">
        <endpoint address="net.pipe://localhost/BitShelter"
                  binding="netNamedPipeBinding"
                  contract="BitShelter.WCF.ISnapshotService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" receiveTimeout="infinite">
          <reliableSession enabled="true" inactivityTimeout="infinite" ordered="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
