<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaVSS" version="1.4.0" targetFramework="net461" />
  <package id="CronExpressionDescriptor" version="2.3.0" targetFramework="net461" />
  <package id="EWSoftware.ListControls" version="2015.1.27.0" targetFramework="net461" />
  <package id="Quartz" version="3.0.4" targetFramework="net461" />
  <package id="Serilog" version="2.6.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.29.0" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Data.WinForms46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Grid.Base46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Grid.Windows46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WinForms46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Schedule.Base46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Schedule.Windows46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.SfDataGrid.WinForms46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WinForms46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Shared.Windows46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.SpellChecker.Base46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Tools.Base46" version="16.1.0.26" targetFramework="net461" />
  <package id="Syncfusion.Tools.Windows46" version="16.1.0.26" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
</packages>